internal-modules/tools-packages/proposed-untested/n8n/test-workflows-main/Telegram AI Chatbot(Mar 29 at 22_44_39).json
{
  "createdAt": "2025-03-30T04:34:08.351Z",
  "updatedAt": "2025-03-30T05:44:39.000Z",
  "id": "oU273vsYnObbxS8W",
  "name": "Telegram AI Chatbot",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "ea71a467-a646-4aca-b72e-cef1249c74e2",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "LLNDz8yPL6xE6XJt",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ true }}",
        "rules": {
          "rules": [
            {
              "operation": "notContains",
              "output": "={{ 0 }}"
            },
            {},
            {}
          ]
        }
      },
      "id": "1cbe43d4-ea8b-4178-bc10-4bfad7abe143",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        1340,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "074e907f-634b-4242-b669-33fa064f8472",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1960,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.7
            },
            {
              "name": "token_length",
              "value": 200
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2aa961b8-f0af-4d5c-a6af-1be56ea4b2e6",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "2d2fe268-1e3e-483b-847c-4412e586c1ca",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "09a9c0b4-ac6e-46eb-b2e0-ef2b55e94ada",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "20c2e7fa-5d65-441b-8d1d-a8d46c624964",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2220,
        -160
      ],
      "typeVersion": 1,
      "webhookId": "2c640973-4726-4208-8ca2-5e36413baea8",
      "credentials": {
        "telegramApi": {
          "id": "LLNDz8yPL6xE6XJt",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "30321276-ebe1-41ac-b420-9dab8daa405b",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        940,
        380
      ],
      "typeVersion": 1,
      "webhookId": "bb06d1be-2a8b-4df5-bc42-f6a9b9f66ae9",
      "credentials": {
        "telegramApi": {
          "id": "LLNDz8yPL6xE6XJt",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "7d7ff2e8-b0ca-4638-a056-f7b4e2e6273d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1160,
        260
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "656bab5e-b7f7-47a1-8e75-4a17d2070290",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e91d616b-1d5e-40e8-8468-2d0b2dda4cf7",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2060,
        560
      ],
      "typeVersion": 1,
      "webhookId": "45e44982-35ec-4cfe-a2d3-3f14919162c6",
      "credentials": {
        "telegramApi": {
          "id": "LLNDz8yPL6xE6XJt",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "125e27d2-b03b-4f02-9dd1-8fc81ecf0b6b",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2220,
        100
      ],
      "typeVersion": 1,
      "webhookId": "09a584c2-8846-4788-b6b0-c63ddee1b08c",
      "credentials": {
        "telegramApi": {
          "id": "LLNDz8yPL6xE6XJt",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "730a51ac-223e-4956-be7f-166eadb6ed81",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1640,
        -240
      ],
      "id": "1ea67204-480b-46e5-912b-f40db7d3bc2a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmCohere",
      "typeVersion": 1,
      "position": [
        1320,
        -300
      ],
      "id": "295ac9e2-e8cf-4144-8df4-5ac8b9f3c98a",
      "name": "Cohere Model",
      "credentials": {
        "cohereApi": {
          "id": "DgFJcIZLJBYpaKyj",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1660,
        -60
      ],
      "id": "e1d407c4-d991-4524-920e-dc55a1619032",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1320,
        -100
      ],
      "id": "035e284a-54e6-435f-b6a0-bb8f79dd7319",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "rHoCTQF9QAupYY85",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "="
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1660,
        180
      ],
      "id": "bccbe369-2b05-4c85-ae23-9a6ec3bd40de",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.2-11b-vision-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1340,
        120
      ],
      "id": "48a373b4-9333-4cf1-8bd3-97e91bf4a23a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BbGCb8BhasmVnPr5",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cohere Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "1934",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d62b1989-358a-4e72-b426-4179b2acc845",
  "triggerCount": 0,
  "tags": [],
  "homeProject": {
    "id": "jBliXrVWMGKu8T6A",
    "type": "personal",
    "name": "Frederic  Francois <federicfrancois.ppp@gmail.com>",
    "icon": null
  },
  "sharedWithProjects": [],
  "usedCredentials": [
    {
      "id": "BbGCb8BhasmVnPr5",
      "name": "OpenRouter account 2",
      "type": "openRouterApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "jBliXrVWMGKu8T6A",
        "type": "personal",
        "name": "Frederic  Francois <federicfrancois.ppp@gmail.com>",
        "icon": null
      },
      "sharedWithProjects": []
    },
    {
      "id": "DgFJcIZLJBYpaKyj",
      "name": "CohereApi account",
      "type": "cohereApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "jBliXrVWMGKu8T6A",
        "type": "personal",
        "name": "Frederic  Francois <federicfrancois.ppp@gmail.com>",
        "icon": null
      },
      "sharedWithProjects": []
    },
    {
      "id": "LLNDz8yPL6xE6XJt",
      "name": "Telegram account 3",
      "type": "telegramApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "jBliXrVWMGKu8T6A",
        "type": "personal",
        "name": "Frederic  Francois <federicfrancois.ppp@gmail.com>",
        "icon": null
      },
      "sharedWithProjects": []
    },
    {
      "id": "rHoCTQF9QAupYY85",
      "name": "DeepSeek account",
      "type": "deepSeekApi",
      "currentUserHasAccess": true,
      "homeProject": {
        "id": "jBliXrVWMGKu8T6A",
        "type": "personal",
        "name": "Frederic  Francois <federicfrancois.ppp@gmail.com>",
        "icon": null
      },
      "sharedWithProjects": []
    }
  ],
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:list",
    "workflow:move",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ]
}